@font-face {
    font-family: 'Retro';
    font-style: normal;
    src:
        url('../res/fonts/PressStart2P-Regular.ttf'),
}

html,
body {
font-family: "Retro", sans-serif;
font-weight: 400;
font-size: 38px;
margin: 0px;
}

@keyframes blink {
    50% {
        opacity: 0.0;
    }
}
.blink {
    animation: blink 1s step-start 0s infinite;
}