@import url('https://fonts.googleapis.com/css2?family=Jersey+10+Charted&display=swap');

@font-face {
    font-family: "Jersey 10 Charted", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Retro';
    font-style: normal;
    src:
        url('../res/fonts/PressStart2P-Regular.ttf'),
}

html,
body {
/* font-family: 'Retro Gaming'; */
font-family: "Retro", sans-serif;
font-weight: 400;
font-size: 38px;
}

@keyframes blink {
    50% {
        opacity: 0.0;
    }
}
.blink {
    animation: blink 1s step-start 0s infinite;
}